html, body {
  height: 100%;
  width: 100%;
}
h1 {
  font-family: fantasy;
  color:#393D3F;
  font-size:48px;
  
  
}
h2 {
  font-family: cursive;
  color: #201E1F;
  
}
h3 {
  font-family: monospace;
  color: #0A0908
    
}
header {
  background-color: #3E6680;
  text-align: center;
}
main {
  background-color: #DDF2EB;
  margin: 15px;
  text-align: center;
}
footer {
  background-color: #474747;
  color: #FBFFFE;
}
body {
  background-color:#DDF2EB;
  padding-bottom: 10px;
}
hr {
  height: 10px;
  color: #1B1B1E;
}
ul {
  text-align: center;
  list-style-position: inside;
}
